@tuxedo:registry=https://pkgs.dev.azure.com/confused/_packaging/pacman%40Local/npm/registry

always-auth=true

; begin auth token
//pkgs.dev.azure.com/confused/_packaging/pacman%40Local/npm/registry/:username=confused
//pkgs.dev.azure.com/confused/_packaging/pacman%40Local/npm/registry/:_password=${CONFUSED_PACKAGES_TOKEN}
//pkgs.dev.azure.com/confused/_packaging/pacman%40Local/npm/registry/:email=
//pkgs.dev.azure.com/confused/_packaging/pacman%40Local/npm/:username=confused
//pkgs.dev.azure.com/confused/_packaging/pacman%40Local/npm/:_password=${CONFUSED_PACKAGES_TOKEN}
//pkgs.dev.azure.com/confused/_packaging/pacman%40Local/npm/:email=
; end auth token
